<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{'Nilai a : ' + a }}</h1>
        <h1>{{'Nilai Rata-rata : ' + avg }}</h1>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                avg: 0,
                count: 1
            }, watch: {
                a: function() {
                    if(this.a < 10) {
                    this.openForm();
                    this.count++;
                    }
                      this.avg = this.a / this.count;
                }
            },
            methods: {
                openForm: function() {
                   let nilai = prompt("Masukan nilai a");
                    this.a +=  parseInt(nilai);
                }
            }
        })
    </script>
    
</body>
</html>