<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text"  placeholder="Input Nama User..." v-model="user.name" />
        <div v-if="user.edit">
          <button @click="updateUser(user.id)" >update</button>
        </div>
        <div v-else>
          <button @click="addUser" >Add</button>
        </div>
      <li v-for="(user, index) in users">
        {{ user.name }} || <button @click="editUser(index)">Edit</button> || <button @click="removeUser(index)">Delete</button></li>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          users: [
           { name:  'Muhammad Iqbal Mubarok'},
           { name:  'Ruby Purwanti'},
           { name:  'Faqih Muhammad'},
          ],
          user: {name: '', edit: false, id: 0},
        },
        methods:{
    addUser(){
      this.users.push({name:this.user.name});
    },
    removeUser(index){
      this.users.splice(index, 1)
    },
    editUser(index) {
      this.user = {name: this.users[index].name, edit: true, id: index};
      
    },
    updateUser(index) {
    this.users[index].name = this.user.name;
    this.user = { edit: false, id: null}
    }
  }
      });
    </script>
  </body>
</html>
